<?xml version="1.0"?>
<plugin_info>
<plugin_name>Import Shapefile</plugin_name>
<plugin_dir>ImportSHP.exe</plugin_dir>
<plugin_description>Import a network saved as ESRI Shapefile into Hydra.</plugin_description>
<plugin_epilog>
    Written by Philipp Meier, philipp@diemeiers.ch
    (c) Copyright 2015, 2016 Eawag: Swiss Federal Institute of Aquatic Science
    and Technology
    For more information visit www.hydraplatform.org
</plugin_epilog>
<smallicon>icon32.png</smallicon>
<largeicon>icon128.png</largeicon>
<mandatory_args>
  <arg>
    <name>Links file</name>
    <switch>-il</switch>
    <multiple>Y</multiple>
    <argtype>link</argtype>
    <help>The filename(s) of the links to be imported.</help>
  </arg>
</mandatory_args>
<non_mandatory_args>
  <arg>
    <name>Nodes file</name>
    <switch>-in</switch>
    <multiple>Y</multiple>
    <argtype>node</argtype>
    <help>The filename(s) of the nodes to be imported. If no node file is
        specified, nodes are created automatically from the start and endpoints
        of links.
    </help>
  </arg>
  <arg>
    <name>Server URL</name>
    <switch>-url</switch>
    <multiple>N</multiple>
    <argtype>URL</argtype>
    <help> URL of HydraPlatform server (defaults to value specified in the
        config file).
    </help>
  </arg>
  <arg>
    <name>Server user</name>
    <switch>-u</switch>
    <multiple>N</multiple>
    <argtype>user</argtype>
    <help> Username to log in to Hydra Platform server.
    </help>
  </arg>
  <arg>
    <name>Server password</name>
    <switch>-p</switch>
    <multiple>N</multiple>
    <argtype>password</argtype>
    <help> Password to log in to Hydra Platform server.
    </help>
  </arg>
</non_mandatory_args>
</plugin_info>
